body{
    display: flex;
align-items: center;
justify-content: center;
    height: 100vh;
    padding: 0;
    margin: 0;
    
    background-color: rgb(151, 158, 158);
    background-repeat: no-repeat;
    background-size: 100%;
    
    
    
}
.estrella{
    width: 500px;
    height: 500px;
    background-color: rgb(187, 187, 165);
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    position: relative;
    transition: transform 0.3s ease-in-out;
   background-repeat: no-repeat; 
   background-image: url(imagenes/corazoncitos.webp);
   background-size: 100%;
   background-position: center;
}
.estrella:hover{
    transform:scale(1.2) rotate(10deg);
box-shadow: 50px 10px 5px 0px rgba(0,0,0,0.75);
}
footer{position: fixed;
    bottom: 10px;
    right: 10px;
    margin-bottom: 12px;
    margin-left: 1400px;
    justify-content: left;
    
    
    
}
img{width: 54px;
    height: 54px;
    padding: 14px;
    
    
}
h6{font-size: 12px;
    margin-top: 0px;
    margin-right: 12px;
    
}



